* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(image/alone-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(62, 50, 50);
    box-shadow: 3px 3px 5px rgba(168, 124, 124, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    margin-right: 2px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    transition: 2s;
}

nav a h4{
    font-weight: 100;
}



nav a .hideOnMobile {
    width: 70%;
}

nav a h3{
    font-size: 20px;
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(236, 129, 129);
    transition: 2s;
}

nav p, nav h4 {
    transition: 1000ms;
}

nav a h3:hover {
    /* background-color: rgb(192, 137, 137); */
    color: rgb(168, 124, 124);
}

nav h4:hover {
    color: rgba(168, 124, 124, 0.8);
    border-radius: 5px;

}

nav p:hover {
    color: rgba(168, 124, 124, 0.8);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(62, 50, 50, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(168, 124, 124, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

@media(max-width: 750px){
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

@media(min-width: 750px){
    .hideOnPc{
        display: none;
    }
}